http://${HUB_DOMAIN} {
    redir https://{$HUB_DOMAIN}{uri} permanent
}

https://{$HUB_DOMAIN} {
    log

    tls {$USER_EMAIL} {
        #
    }

    @forbidden {
        path /admin*
        not remote_ip {$USER_IP}
    }

    @admin_api {
        path /admin*
        remote_ip {$USER_IP}
    }

    @external {
        not path /admin*
        not path /ws*
    }

    @ws {
        path /ws*
        not path /admin*
        header Connection *Upgrade*
        header Upgrade    websocket
    }

    handle @admin_api {
        reverse_proxy {$HUB_ADMIN_SERVICE}
    }

    handle @forbidden {
        respond @forbidden 403
    }

    handle @external {
        reverse_proxy {$HUB_SERVICE}
    }

    handle @ws {
        forward_auth {$HUB_SERVICE} {
            uri /auth
            copy_headers x-api-host x-forwarded-uri x-forwarded-host x-forwarded-for x-api-key x-real-ip forwarded cookie
        }

        reverse_proxy {$HUB_SERVICE}
    }

}
