LOG=info
BACKTRACE=1
USER_IP=172.21.0.1
USER_EMAIL=internal

REDIS_PORT=6379
REDIS_ADDRESS=redis-master:6379
REDIS_PASSWORD=somethingstrong
REDIS_MODE=sentinel
REDIS_SENTINEL_MASTER=mymaster
REDIS_SENTINEL_ADDRESSES=redis-sentinel-1:26379,redis-sentinel-2:26379,redis-sentinel-3:26379

#=======================================================================================================================

HUB_DOMAIN=localhost
HUB_NAME=hub
HUB_NAMESPACE=rhiaqey
HUB_PUBLIC_KEY_PATH=/data/hub/pub.pem
HUB_PRIVATE_KEY_PATH=/data/hub/priv.pem

HUB_1_ID=fc5e1420-cbec-11ed-afa1-0242ac120001
HUB_1_PRIVATE_PORT=3001
HUB_1_PUBLIC_PORT=3002

HUB_2_ID=fc5e1420-cbec-11ed-afa1-0242ac120002
HUB_2_PRIVATE_PORT=3001
HUB_2_PUBLIC_PORT=3002

#=======================================================================================================================

PRODUCER_1_ID=c5e1420-abcd-11ed-afa2-0242ac120002
PRODUCER_1_NAME=ticker
PRODUCER_1_NAMESPACE=rhiaqey
PRODUCER_1_PRIVATE_KEY_PATH=/data/hub/priv.pem
PRODUCER_1_PRIVATE_PORT=3003
PRODUCER_1_PUBLIC_PORT=3004

PRODUCER_2_ID=1122334-abcd-11ed-afa3-0242ac120002
PRODUCER_2_NAME=iss-position
PRODUCER_2_NAMESPACE=rhiaqey
PRODUCER_2_PRIVATE_KEY_PATH=/data/hub/priv.pem
PRODUCER_2_PRIVATE_PORT=3005
PRODUCER_2_PUBLIC_PORT=3006

#=======================================================================================================================

GATEWAY_DOMAIN=localhost
GATEWAY_NAME=ws
GATEWAY_NAMESPACE=rhiaqey
GATEWAY_PRIVATE_KEY_PATH=/data/hub/priv.pem

GATEWAY_1_ID=1122334-abcd-11ed-afa2-0242ac120001
GATEWAY_1_PRIVATE_PORT=3007
GATEWAY_1_PUBLIC_PORT=3008

GATEWAY_2_ID=1122334-abcd-11ed-afa4-0242ac120002
GATEWAY_2_PRIVATE_PORT=3009
GATEWAY_2_PUBLIC_PORT=3010

#=======================================================================================================================
